{% extends 'base.html' %}
{% load static %}

{% block title %}
about us
{% endblock %}

{% block content %}

       <!-- start page-title -->
        <section class="page-title">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <h2>About Us</h2>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>        
        <!-- end page-title -->


        <!-- start service-single-section -->
        <!-- start contact-pg-section -->
        
        <section class="about-section about-pg-about-section section-padding">
            <div class="container">
                <div class="row">
                    <div class="col col-md-5">
                        <div class="img-holder">
                            <img src="{% static 'images/about.jpg' %}" alt>
                             
                        </div>
                        <div class="img-holder" style="margin-top:18px">
                            <img src="{% static 'images/about-3.jpg' %}" alt>
                             
                        </div>
                    </div>
                    <div class="col col-md-7">
                        <div class="details">
                            <div class="section-title">
                                <span>About us</span>
                                <h2>Ship Quickly Logistics</h2>
                            </div>
                            <p>Crowntech-Adeyemi is a well-reputed logistics company in Lagos, Abuja that has marked its presence with its outstanding logistic services. We provide complete logistics solutions in all famous cities all over Nigeria. Whether it is a large organization, or a startup business, a famous MNC company, a Solar/ Telecom project company, or anything else, we serve any type of company with the best logistics services. We have a professionally qualified team who manage all the logistics operations of any company with high expertise. Our authentic policies and dedication has made us one of the most trusted logistics companies in Lagos, Nigeria.</p>
                            <p>Being a well-experienced logistics organization in Lagos, Nigeria, Crowntech-Adeyemi offers impeccable logistics solutions to all its esteemed clients. To satisfy different logistics needs of our clients, we offer a diverse range of services. Since we are the most prominent logistics company in Lagos, Nigeria, we guarantee smooth and quick delivery of products. Our esteemed clients can get a strong control over their shipment with our world-class logistic services. Our extremely efficient logistics services will surely fulfill your supply chain requirements and strengthen your supply chain business. </p>
                            <div class="contact-info">
                                <div>
                                    <img src="{% static 'images/call.png' %}" alt>
                                    <h4>Call Center</h4>
                                    <p>Mon - Sat <br>2349048239391</p>
                                </div>
                                <div>
                                    <img src="{% static 'images/map.png' %}" alt>
                                    <h4>Location</h4>
                                    <p>Lagos, Abuja, Nigeria</p>
                                </div>
                            </div>
                            <div class="btns">
                                <a href="{% url 'contact' %}" class="theme-btn-s3">Contact with us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end container -->
        </section>
         <!-- start mission-vision-section -->
        <section class="mission-vision-section section-padding">
            <div class="container">
                <div class="row">
                    <div class="col col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <div class="title-area">
                            <h2>About Ship Quickly</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="mission-vision-grids clearfix">
                            <div class="grid">
                                <div class="img-holder">
                                    <img src="{% static 'images/about/img-1.jpg' %}" alt>
                                </div>
                                <h3>Our mission</h3>
                                <p>Enhance the flow of products and
services from suppliers to their
customers and make logistics and
courier services faster and secured
with the help of new technology
live location and support. Make
logistics network long and strong
and gives opportunity young
entrepreneurs the to expand their
business globally.</p>
                            </div>
                            <div class="grid">
                                <div class="img-holder">
                                    <img src="{% static 'images/about/img-2.jpg' %}" alt>
                                </div>
                                <h3>Our vision</h3>
                                <p>Smooth flow of goods and services
from one place to another and
seeing happy friendly customers,
giving 100% delivery rate, and
delivering their products globally
to expand their business out of the
Country. Improve import and
export services and increase the
export from Nigeria.</p>
                            </div>
                            <div class="grid">
                                <div class="img-holder">
                                    <img src="{% static 'images/about/img-3.jpg' %}" alt>
                                </div>
                                <h3>Our strategies</h3>
                                <p>It wasn't a dream. His room, a proper human room although a little too small, lay peacefully between its four familiar walls. A collection of textile samples lay spread out on the table</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end container -->
        </section>
        <!-- end mission-vision-section -->


        <!-- start about-section -->
        
        <!-- end about-section -->


        <!-- start faq-achievement-section -->
        <section class="faq-achievement-section section-padding">
            <div class="container">
                <div class="row">
                    <div class="col col-md-6">
                        <div class="faq-container">
                            <div class="section-title-s2">
                                <span>FAQ</span>
                                <h2>People aks these question over & over again</h2>
                            </div>
                            <div class="panel-group faq-accordion theme-accordion-s1" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse-1" aria-expanded="true">My Trace number is not working</a>
                                    </div>
                                    <div id="collapse-1" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <p>It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look out the window at the dull weather</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-2">Whole of her lower arm towards the viewer?</a>
                                    </div>
                                    <div id="collapse-2" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look out the window at the dull weather</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-3">Travelling salesman - and above it there hung</a>
                                    </div>
                                    <div id="collapse-3" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look out the window at the dull weather</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-6">
                        <div class="achievement-container">
                            <div class="section-title-s2">
                                <span>Achievement</span>
                                <h2>See what we achieved over the years!</h2>
                            </div>
                            <p>Magazine and housed in a nice, gilded frame. It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer ne and housed in a nice, gilded frame</p>
                            <div class="skills">
                                <div class="skill">
                                    <h6>Air Freight</h6>
                                    <div class="progress">
                                        <div class="progress-bar" data-percent="85"></div>
                                    </div>
                                </div>
                                <div class="skill">
                                    <h6>Ocean Freight</h6>
                                    <div class="progress">
                                        <div class="progress-bar" data-percent="95"></div>
                                    </div>
                                </div>
                                <div class="skill">
                                    <h6>Road Freight</h6>
                                    <div class="progress">
                                        <div class="progress-bar" data-percent="92"></div>
                                    </div>
                                </div>
                                <div class="skill">
                                    <h6>Warehousing</h6>
                                    <div class="progress">
                                        <div class="progress-bar" data-percent="95"></div>
                                    </div>
                                </div>
                            </div>                        
                        </div>
                    </div>
                </div>
            </div> <!-- end container -->
        </section>
        <!-- end faq-achievement-section -->


        <!-- start testimonials-section -->
        <section class="testimonials-section section-padding">
            <div class="container">
                <div class="row">
                    <div class="col col-lg-6 col-lg-offset-3">
                        <div class="section-title-s3">
                            <span>Testimonials</span>
                            <h2>What People say’s About us</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="testimonial-grids clearfix">
                            <div class="grid">
                                <div class="quote">
                                    <p>Samsa was a travelling salesman and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame. It showed a lady fitted out</p>
                                </div>
                                <div class="client-info">
                                    <div class="img-holder">
                                        <img src="{% static 'images/testimonials/img-1.jpg' %}" alt>
                                    </div>
                                    <div class="details">
                                        <h5>Jhon dow</h5>
                                        <p>Shipment CEO</p>
                                    </div>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="quote">
                                    <p>Samsa was a travelling salesman and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame. It showed a lady fitted out</p>
                                </div>
                                <div class="client-info">
                                    <div class="img-holder">
                                        <img src="{% static 'images/testimonials/img-2.jpg' %}" alt>
                                    </div>
                                    <div class="details">
                                        <h5>Alaska</h5>
                                        <p>Business Officer</p>
                                    </div>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="quote">
                                    <p>Samsa was a travelling salesman and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame. It showed a lady fitted out</p>
                                </div>
                                <div class="client-info">
                                    <div class="img-holder">
                                        <img src="{% static 'images/testimonials/img-3.jpg' %}" alt>
                                    </div>
                                    <div class="details">
                                        <h5>Shain on</h5>
                                        <p>Shiping Manager</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end container -->
        </section>
        <!-- end testimonials-section -->

{% endblock %}