{% extends 'base.html' %}
{% load static %}


{% block title %}
Career
{% endblock %}

{% block content %}

       <!-- start page-title -->
        <section class="page-title" style="background: url({% static 'images/breadcrumb/career.jpg' %} %}) center center/cover no-repeat local;">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <h2>Career</h2>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>        
        <!-- end page-title -->


        <!-- start service-single-section -->
        <!-- start contact-pg-section -->
        <section class="contact-pg-section section-padding">
            <div class="container">
                <div class="row">
                    <div class="col col-md-8 col-md-offset-2">
                        <div class="section-title-s3">
                            
                            <h2>Available Vacancies</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-xs-12">
                    
                    <div class="table-responsive">
                    <table class="table table-bordered">
								  <thead>
								    <tr>
								      <th scope="col">Sr No.</th>
								      <th scope="col">Position </th>
                                      <th scope="col">Department</th>
                                       <th scope="col">Location</th>
                                       <th scope="col">Experience</th>
                                       <th scope="col">Qualification</th>
								    </tr>
								  </thead>
								  <tbody>
								  										    <tr>
									       
									      <td>BDM</td>
                                          <td>Development</td>
                                          <td>Lagos,mumbai,pune,solapur,ranchi,dhanbad,patna,surat,amarali,delhi,agartala,bharampur,jaipur,udaipur,chandighad,nasik,muzzafarpur,jemshedpur,aara bhojpur.</td>
                                          <td>0-1</td>
                                          <td>Min - 12 th</td>
									    </tr>

									 									    <tr>
									   
									      <td>Transport Manager Officer</td>
                                          <td>Transport</td>
                                          <td>Ahemdabad, mumbai</td>
                                          <td>0-1</td>
                                          <td>Graduation</td>
									    </tr>

									 									    <tr>
									      
									      <td>Sales Manager</td>
                                          <td>Back Office</td>
                                          <td>Lagos</td>
                                           <td>0-1</td>
                                          <td>Graduation</td>
									    </tr>

									 									    <tr>
									     
									      <td>Operation Manager</td>
                                          <td>Operation</td>
                                          <td>Lagos,mumbai,delhi,jaipur,surat,ranchi</td>
                                           <td>0-1</td>
                                          <td>Graduation</td>
									    </tr>

									 		 <tr>
									       
									      <td>ASS Manager</td>
                                          <td>Support</td>
                                          <td>Lagos</td>
                                           <td>0-1</td>
                                          <td>Graduation</td>
									    </tr>		
                                        <tr>
									     
									      <td>field officer</td>
                                          <td>courier</td>
                                          <td>Lagos,mumbai,pune,solapur,ranchi,dhanbad,patna,surat,amarali,delhi,agartala,bharampur,jaipur,udaipur,chandighad,nasik,muzzafarpur,jemshedpur,aara bhojpur</td>
                                           <td>0-1</td>
                                          <td>Graduation</td>
									    </tr>							 
											<tr>
									      
									      <td>Team Leader</td>
                                          <td>Back Office</td>
                                          <td>Lagos</td>
                                           <td>0-1</td>
                                          <td>Graduation</td>
									    </tr>
                                        
                                        <tr>
									      
									      <td>Sales Executive</td>
                                          <td>Sales</td>
                                          <td>Lagos</td>
                                           <td>0-1</td>
                                          <td>Min - 12th</td>
									    </tr>
                                        <tr>
									       
									      <td>Delivery Boy</td>
                                          <td>Delivery Service</td>
                                          <td>solapur, ahmadnagar,belgaun,pune,nasik,amravati,aurangabad,sangli,akola,barshi,rahuri,pandharpur,gokak,haveli,sonai,khed,manjari,loni katbhor</td>
                                           <td>0-1</td>
                                          <td>Min - 12th</td>
									    </tr>	
									    
								  </tbody>
</table>
                    </div>
                    
                    <div class="contact-info clearfix" style="margin-bottom:50px;">
                     
                     <div>
                                 
                                 
                                <h5>Interested Candidate Mail And Contact</h5> 
                                                              
                            </div>
                            
                            <div>
                                <div class="icon">
                                    <i class="ti-mobile"></i>
                                </div>
                                <h5>Phone</h5>
                                <p><a href="tel:18001210258">2349048239391</a></p>                               
                            </div>
                            <div>
                                <div class="icon">
                                    <i class="ti-email"></i>
                                </div>
                                <h5>Email</h5>
                                <p><a href="mailto:hr@sqlogistics.in">hr@sqlogistics.in</a></p>
                            </div>
                        </div>
                         
                        

                         
                    </div>
                </div>
            </div>
        </section>
{% endblock %}