
{% extends 'base.html' %}
{% load static %}

{% block title %}
Courier Services
{% endblock %}

{% block content %}
       <!-- start page-title -->
        <section class="page-title" style="background: url({% static "images/breadcrumb/courier-services.jpg" %} %}) center center/cover no-repeat local;">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <h2>Courier Service </h2>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>        
        <!-- end page-title -->

		<section class="about-section about-pg-about-section section-padding" style="padding-bottom:40px;">
            <div class="container">
                <div class="row">
                    
                    <div class="col col-md-12">
                        <div class="details">
                            <div class="section-title">
                                
                                <h2>Courier Service </h2>
                            </div>
                             
                             <p>Courier services have become an integral part of any kind of business these days. Every time when you need to deliver your items to your customers, a good courier service can quicken your shipment and satisfy your clients. Therefore, whether you are running a small or big eCommerce business, or any other online business, you must have the best courier services in order to make the fastest delivery. If you are looking for the fastest, efficient and secure courier services in Lagos, Nigeria, Crowntech-Adeyemi is the one stop solution for you. We are the most trusted courier service provider in Nigeria, who will serve you with the excellent, fastest and safest courier services at cheaper costs. Having a great connection with several parts in Nigeria, our courier services can assist you in delivering your products at any part in Nigeria. Our courier services range from picking up the orders to warehouse managing tasks to the final delivery of products.</p>
                            
                            
                        </div>
                    </div>
                    
                    <div class="col col-md-12">
                        <div class="details">
                            <div class="section-title">
                                
                                <h3>Crowntech-Adeyemi- A Trusted Courier Service Provider in Nigeria</h3>
                            </div>
                             
                             <p>Courier service is an advanced shipment service in which all orders are picked and delivered in the quickest time. To give the best satisfaction to your clients, you should choose a good courier service provider in order to get reliable and efficient courier service facilities. Crowntech-Adeyemi is an Lagos-based courier service providing company in Nigeria, who provide both domestic and international courier services at affordable costing. We have several trusted courier delivery partners in our company who manage all the dispatch related tasks, pick up your orders very quickly and ensure that your orders have been delivered to the exact location at the quickest time. We provide a broad variety of courier services such as rail courier, air courier, ground courier and so on. Due to our loyalty, expertise and fastest courier services, we have become a leading courier service provider in Nigeria. </p>
                             
                             <p>We are a prime courier service provider in Lagos, Nigeria and we guarantee faster, safer and on-time product delivery. We also provide express services, overnight services, parcel services and a lot more from us. Some key characteristics that make us the best courier service company in Nigeria are mentioned below.</p>
                             
                         
                               
                            
                            <div class="row align-items-center">
                             <div class="col-md-5">
                             <div class="in-block">
                             <div class="col-md-2">
                             <img src="{% static 'images/thumb/safe-and-quick-courier.png' %}" class="img-responsive" alt="">
                             </div>
                             <div class="col-md-10">
                             <h4>Safe and Quick Courier Service</h4>
                             <p>We make sure that all the shipments of our customers can be done with utmost care, safety and at the fastest time possible.</p>
                             </div>
                             </div>
                             
                             <div class="in-block">
                             <div class="col-md-2">
                             <img src="{% static 'images/thumb/wide-coverage.png' %}" class="img-responsive" alt="">
                             </div>
                             <div class="col-md-10">
                             <h4>Wide Coverage</h4>
                             <p>We can deliver your products anywhere you want in Nigeria and other nations also. </p>
                             </div>
                             </div>
                             
                             <div class="in-block">
                             <div class="col-md-2">
                             <img src="{% static 'images/thumb/24-hours-support.png' %}" class="img-responsive" alt="">
                             </div>
                             <div class="col-md-10">
                             <h4>24*7 Services</h4>
                             <p>We are at your service for 24*7. Our delivery partners can deliver your products anytime you want.  </p>
                             </div>
                             </div>
                             
                              
                               
                                
                             </div>
                             
                             <div class="col-md-7">
                             <img src="{% static 'images/courier-services.jpg' %}" class="img-responsive" alt="">
                             </div>
                            </div>
                            
                            
                            <p>Crowntech-Adeyemi is indeed the best product delivery partner for every business. Connect us today in case you want the safest and fastest courier service at inexpensive costs.</p>
  
                            
  
                        </div>
                    </div>
                </div>
            </div> <!-- end container -->
        </section>

        <!-- start service-single-section -->
        <!--<section class="service-single-section section-padding">
            <div class="container">
                <div class="row">
                    <div class="col col-md-9 col-md-push-3">
                        <div class="service-single-content">
                            <div class="service-single-slider">
                                <img src="images/product/warehouse.jpg" alt>
                            </div>
                            <h2>Warehouse</h2>
                            <p>  Crowntech-Adeyemi is a leading and proficient <strong>logistics company</strong> in Lagos, Nigeria. With our years of expertise in the logistic business, we serve multiple organizations with exceptional  <strong>warehouse services. Due to our broad network of warehouses,</strong> we are the all-in-one solution for your warehousing requirements. Nearly all of our warehouses are conveniently situated and furnished with the most recent equipment, technology, and security measures. Due to our skilled staff, cutting-edge software and technologies, and unrelenting commitment to safety, we are relentlessly providing  excellent and safest warehouse services. </p>
                            
                            
                            <p>Multi-client facilities service multiple clients in one warehouse, using shared assets and personnel resources. This offers our clients a way to minimize their logistics costs by only paying for the warehouse storage facility space they need. Our warehouse services team can handle seasonal business by providing flexible space and resources without client investment in permanent space and equipment. Our skilled team of logistics professionals can customize a cost-effective shared-warehouse storage solution that meets your specific needs.</p>
                            <p>Our dedicated distribution operations focus on providing service to a single client. In this model, the resources of the facility work as an extension of the client to provide safe, high quality, cost-effective solutions resulting in a competitive advantage and unparalleled flexibility. Our project team will work with your organization to deliver year-over-year productivity while ensuring your customers' needs are met with on time, accurate shipments.</p>
                            <div class="benefit clearfix">
                                <div class="details">
                                    <h3> Benefits</h3>
                                    <ul>
                                        <li><span>1</span> 100% safe Delivery</li>
                                        <li><span>2</span> Modern vehicle fleet</li>
                                        <li><span>3</span> IT-Time Transportation</li>
                                        <li><span>4</span> Online Tracking</li>
                                    </ul>
                                    
                                </div>
                                 
                            </div>
                                                      
                        </div>
                    </div>
                    <div class="col col-md-3 col-md-pull-9">
                        <div class="service-sidebar">
                            <div class="widget service-list-widget">
                                <ul>
                                    <li><a style="background: #004e6c;color: #fff;font-size: 18px;">All Service</a></li>
                                    <li><a href="forwarding.php">  Forwarding</a></li>
                                    <li><a href="clearing.php">Clearing</a></li>
                                    <li><a href="transportation.php">Transportation</a></li>
                                    <li class="current"><a href="warehouse.php">Warehouse</a></li>
                                    <li><a href="industrial.php">Industrial Project</a></li>
                                </ul>
                            </div>
                          
                            <div class="widget contact-widget">
                                <div>
                                    <h5>We are transport & Logistics experts </h5>
                                    <a href="contact.php">Contact with us</a>
                                </div>
                            </div>
                        </div>                    
                    </div>
                </div>  
            </div>  
        </section>-->

        {% endblock %}