{% extends 'base.html' %}
{% load static %}

{% block title %}
Google Download
{% endblock %}

{% block content %}
<!-- start service-single-section -->

        
       <!-- start page-title -->
       <section class="page-title">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <h2>Download the App</h2>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>        
        <!-- end page-title -->

        <!-- start contact-pg-section -->

        <!-- start mission-vision-section -->
        <section class="mission-vision-section section-padding" style="padding-bottom:150px;padding-top:150px;">
            <div class="container">
                <div class="row">
                    <div class="col col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <div class="title-area">
                            <h2> Download the App </h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="col-md-4">
                            <div class="img-holder">
                                <a href="https://play.google.com/store/apps/details?id=com.dng.sqmovers&amp;hl=en_US" target="_blank"> <img src="images/about/sq-mover.jpg">  </a>
                            </div>
                            <a href="https://play.google.com/store/apps/details?id=com.dng.sqmovers&amp;hl=en_US"  target="_blank"> <h3>  SQ Movers  </h3> </a>
                        </div>
                        <div class="col-md-4">
                            <div class="img-holder">
                               <a href="https://play.google.com/store/apps/details?id=com.dng.trasnsportlrapp&amp;hl=en_US" target="_blank"> <img src="images/about/lr-transport.jpg" alt> </a>
                            </div>
                           <a href="https://play.google.com/store/apps/details?id=com.dng.trasnsportlrapp&amp;hl=en_US" target="_blank">  <h3> SQ LR Transport </h3> </a>
                        </div>
                        <div class="col-md-4">
                            <div class="img-holder">
                              <a href="https://play.google.com/store/apps/details?id=com.dng.sqcourier&amp;hl=en_US" target="_blank">  <img src="images/about/sq-logi.jpg" alt> </a>
                            </div>
                            <a href="https://play.google.com/store/apps/details?id=com.dng.sqcourier&amp;hl=en_US" target="_blank"> <h3> SQ Logistic </h3>  </a>
                        </div>
    <div class="clearfix"></div>
                        <div class="col-md-4" style="margin-top: 50px;">
                            <div class="img-holder">
                               <a href="https://play.google.com/store/apps/details?id=com.dng.SQMoversDriver&amp;hl=en_US" target="_blank"> <img src="images/about/sq-driver.jpg" alt> </a>
                            </div>
                          <a href="https://play.google.com/store/apps/details?id=com.dng.SQMoversDriver&amp;hl=en_US" target="_blank">   <h3> SQ Movers Driver </h3> </a>
                        </div>

                        
                        <div class="col-md-4" style="margin-top: 50px;">
                            <div class="img-holder">
                             <a href="https://play.google.com/store/apps/details?id=com.SqCourier&amp;hl=en_US" target="_blank">   <img src="images/about/sq-deli-partner.jpg" alt> </a>
                            </div>
                           <a href="https://play.google.com/store/apps/details?id=com.SqCourier&amp;hl=en_US" target="_blank">  <h3> SQ Logistic Delivery </h3> </a>
                        </div>










                        <div class="mission-vision-grids clearfix">



                       
                        </div>
                    </div>
                </div>
            </div> <!-- end container -->
        </section>
        <!-- end mission-vision-section -->


        <!-- start about-section -->

        <!-- end about-section -->




{% endblock %}